<div class="ai1ec-captcha ai1ec-recaptcha" data-provider="recaptcha"
     data-placeholder="{{ verification_words | e('html_attr') }}"
     data-captcha-key="{{ recaptcha_key | e('html_attr') }}">
	<div class="ai1ec-initializing-message">
		{{ loading_recaptcha }}
	</div>
</div>