readme.html
license.txt

.git.old

.ds_Store
*.gz
*.tar
*.zip
*.rar
*bb-config.php

.htaccess

/wp-admin
/wp-includes
index.php
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

voice/voicefiles
wp-content/_uploads/
wp-content/uploads/
wp-content/uploads/gravity_forms/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/
wp-content/backups/

wp-content/db.php
wp-content/object-cache.php
wp-content/w3tc-config/

*.log

sitemap.xml
sitemap.xml.gz


