readme.html
license.txt

.git.old

.ds_Store
*.gz
*.tar
*.zip
*.rar
*bb-config.php

.htaccess
wp-config.php

voice/voicefiles
wp-content/_uploads/
#wp-content/uploads/
wp-content/uploads/gravity_forms/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/
wp-content/backups/
wp-content/plugins/wp-piwik/update/

wp-content/db.php
wp-content/object-cache.php
wp-content/w3tc-config/

wp-content/plugins/si-captcha-for-wordpress/captcha/temp/
wp-content/plugins/duplicator/files/

*.log

sitemap.xml
sitemap.xml.gz


