readme.html
license.txt

.git.old

.ds_Store
*.gz
*.tar
*.zip
*.rar
*.log
*bb-config.php

.htaccess

# Ignore everything in the root except the "wp-content" directory.
/*
!.gitignore
!README.md
!.scrutinizer.yml
!apigen.neon
!wp-content/

# Ignore everything in the "wp-content" directory, except the "plugins", "mu-plugins",
# and "themes" directories.
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/




sitemap.xml
sitemap.xml.gz


