<footer class="timely ai1ec-event-footer">
	{% if event.get( 'ical_feed_url' ) is not empty %}
		{{ text_calendar_feed | raw }}
		{% if event.get( 'ical_source_url' ) is not empty %}
			<a href="{{ event.get( 'ical_source_url' ) | e('html_attr') }}"
				class="ai1ec-btn ai1ec-btn-default ai1ec-btn-xs" target="_blank">
				{{ text_view_post }}
				<i class="ai1ec-fa ai1ec-fa-external-link"></i>
			</a>
		{% endif %}
	{% endif %}
</footer>
